<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="../../static/style/style.css" type="text/css" media="all" />
  </head>
  <body>
    <div class="center-wrapper">
      <form id="student_register" action="/register_student" method="POST" accept-charset="utf-8">
        <div id="student_info">
          <h2>Student Registration</h2>
          <p class="error"></p>

          <label for="s_lastname">Enter Your Lastname:</label>
          <input type="text" name="Lastname" id="s_lastname" placeholder="Muhammad"/>

          <label for="s_firstname">Enter Your Firstname:</label>
          <input type="text" name="Firstname" id="s_firstname" placeholder="Abdul Sobur"/>

          <label for="s_username">Enter Your Username:</label>
          <input type="text" name="Username" id="s_username" placeholder="@BlackChamel"/>

          <label for="s_email">Enter Your Email:</label>
          <input type="email" name="email" id="s_email" placeholder="joe2256@gmail.com"/>

          <label for="s_dob">Date-Of-Birth:</label>
          <input type="date" name="DOB" id="s_dob"/>

          <label for="s_gender">Gender Required</label>
          <select name="gender" id="s_gender">
            <option value="">N/A</option>
            <option value="male">MALE</option>
            <option value="female">FEMALE</option>
          </select>

          <label for="s_class">Your Current Class</label>
          <select name="class" id="s_class">
            <option value="">N/A</option>
            <option value="jss1">Junior Secondary School 1</option>
            <option value="jss2">Junior Secondary School 2</option>
            <option value="jss3">Junior Secondary School 3</option>
            <option value="sss1">Senior Secondary School 1</option>
            <option value="sss2">Senior Secondary School 2</option>
            <option value="sss3">Senior Secondary School 3(Final Year)</option>
          </select>
        </div>

        <div id="student_password">
          <label for="s_password1">Enter Your Password</label>
          <input type="password" name="initialPassword" id="s_password1"/>

          <label for="s_password2">Confirm Password</label>
          <input type="password" name="finalPassword" id="s_password2"/>
        </div>

        <button type="submit">Register</button>
        <p>If you're already an admin, <a href="../features/login_page">Log in here</a></p>
      </form>
    </div>
    <div id="custom-alert" class="hidden">
      <span id="alert-message"></span>
      <div id="alert-bar"></div>
    </div>
    <script src="../../static/interaction/index.js" charset="utf-8"></script>
  </body>
</html>
