<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teacher Registration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/style/style.css" type="text/css" media="all" />
</head>
<body>
  <div class="center-wrapper">
    <form id="teacher_register" action="" method="post" accept-charset="utf-8">
      <div id="teacher_info">
        <h2>Teacher Registration</h2>
        <p class="error"></p>
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" name="fullname" placeholder="e.g. Fatima Yusuf">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="e.g. MissFatima21">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="e.g. fatima@gmail.com">
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="dob">
        <label for="gender">Gender</label>
        <select id="gender" name="gender">
          <option value="">-- Select Gender --</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" placeholder="e.g. 08012345678">
      </div>
      <div id="teacher_professional_info">
        <label for="subjects">Select Subject(s) Taught</label>
          <select id="subjects" name="subjects[]" multiple size="8">
            <!-- JSS Subjects -->
            <option value="English Language">English Language</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Basic Science">Basic Science</option>
            <option value="Basic Technology">Basic Technology</option>
            <option value="Social Studies">Social Studies</option>
            <option value="Civic Education">Civic Education</option>
            <option value="Agricultural Science">Agricultural Science</option>
            <option value="Home Economics">Home Economics</option>
            <option value="Business Studies">Business Studies</option>
            <option value="CRS">Christian Religious Studies (CRS)</option>
            <option value="IRS">Islamic Religious Studies (IRS)</option>
            <option value="PHE">Physical & Health Education</option>
            <option value="Computer Studies">Computer Studies</option>
            <option value="Yoruba">Yoruba</option>
            <option value="Hausa">Hausa</option>
            <option value="Igbo">Igbo</option>
            <!-- SSS Subjects -->
            <option value="Biology">Biology</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Physics">Physics</option>
            <option value="Further Mathematics">Further Mathematics</option>
            <option value="Government">Government</option>
            <option value="Economics">Economics</option>
            <option value="Literature in English">Literature in English</option>
            <option value="Geography">Geography</option>
            <option value="Commerce">Commerce</option>
            <option value="Financial Accounting">Financial Accounting</option>
            <option value="Technical Drawing">Technical Drawing</option>
            <option value="Computer Science">Computer Science</option>
            <option value="arabic">Arabic</option>
          </select>
  
      </div>
      <div id="teacher_password">
        <label for="password">Create Password</label>
        <input type="password" id="password" name="password">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password">
      </div>
      <button type="submit">Register</button>
      <p>If you're already an admin, <a href="../features/login_page.html">Log in here</a></p>
    </form>
  </div>
  <div id="custom-alert" class="hidden">
      <span id="alert-message"></span>
      <div id="alert-bar"></div>
   </div>
</body>
</html>
