
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Alif Model Academy</title>
  <link rel="stylesheet" href="../static/style/style.css"/>
</head>
<body>
  <header>
    <img src="images/logo.png" alt="School Logo" class="logo">
    <nav>
      <ul class="nav-links">
        <a href="/dashboard/admin_dashboard">Home</a>
        <li><a href="/register/verify_email">About</a></li>
        <li><a href="/register/register_teacher">Courses</a></li>
        <li><a href="/register/register_student">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h1>Welcome to Alif Model Academy</h1>
    <p>Academic and Moral Excellence</p>
  </section>

  <section class="info">
    <h2>Our Mission</h2>
    <p>To nurture students to become responsible, confident, and globally-minded citizens.</p>
  </section>
  <section class="info">
    <h2>Our Vision</h2>
    <p>lorem1000</p>
  </section>

  <footer>
    <p>&copy; 2025 Alif Model Academy. All Rights Reserved.</p>
  </footer>
</body>
</html>
